[submodule "gym_traffic/gccnet-envs"]
	path = gym_traffic/gccnet-envs
	url = git@github.com:apsdehal/gccnet-envs.git
[submodule "baselines"]
	path = baselines
	url = https://github.com/openai/baselines.git
